<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <app-header></app-header>

            <!-- Main Content -->
            <div class="container-fluid">

                <!-- Page Content -->
                <router-outlet></router-outlet>

            </div>

        </div>

        <!-- Footer -->
        <app-footer></app-footer>

    </div>

</div>